Package: com.walen.qqtool
Name: QQTool
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: 使用说明：在对话框输入“设备型号iphone8,2”即可设置为iPhone 6s Plus，输入“设备型号原值”即为恢复默认，其他值如下变所示：
    @"iPhone1,1" @"iPhone 2G (A1203)";
    @"iPhone1,2" @"iPhone 3G (A1241/A1324)";
    @"iPhone2,1" @"iPhone 3GS (A1303/A1325)";
    @"iPhone3,1" @"iPhone 4 (A1332)";
    @"iPhone3,2" @"iPhone 4 (A1332)";
    @"iPhone3,3" @"iPhone 4 (A1349)";
    @"iPhone4,1" @"iPhone 4S (A1387/A1431)";
    @"iPhone5,1" @"iPhone 5 (A1428)";
    @"iPhone5,2" @"iPhone 5 (A1429/A1442)";
    @"iPhone5,3" @"iPhone 5c (A1456/A1532)";
    @"iPhone5,4" @"iPhone 5c (A1507/A1516/A1526/A1529)";
    @"iPhone6,1" @"iPhone 5s (A1453/A1533)";
    @"iPhone6,2" @"iPhone 5s (A1457/A1518/A1528/A1530)";
    @"iPhone7,1" @"iPhone 6 Plus (A1522/A1524)";
    @"iPhone7,2" @"iPhone 6 (A1549/A1586)";
    @"iPhone8,1" @"iPhone 6s";
    @"iPhone8,2" @"iPhone 6s Plus";
Maintainer: 吴志和
Author: 吴志和
Section: Tweaks
